* {
  padding: 0;
  margin: 0;
}
body {
  margin: 0 !important;
  padding: 0 !important;
}

.nav {
  padding: 10px;
  display: flex;
  list-style: none;
  background-color: skyblue;
  color: #fff;
  font-size: 18px;
  li {
    a {
      color: #fff;
    }
  }
}
