<nz-card>
  <button nz-button (click)="open()">Add</button>
  <nz-table #basicTable [nzData]="listOfData">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Created</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of listOfData">
        <td>{{ data.id }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.created }}</td>
        <td>
          <a href="javascript:" (click)="open(data)">Edit</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a href="javascript:" (click)="delete(data.id)">Delete</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>

<app-create-tag (refresh)="getTags()"></app-create-tag>
