<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Create"
  (nzOnCancel)="handleCancel()"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="validateForm" class="login-form">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email"
          >Name</nz-form-label
        >
        <nz-form-control nzErrorTip="Please input your username!">
          <input
            type="text"
            nz-input
            formControlName="name"
            placeholder="name"
          />
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button nz-button nzType="primary" (click)="handleOk()" [disabled]="!valid">
      Submit
    </button>
  </div>
</nz-modal>
